* {
    padding: 0;
    margin: 0;
}

main {
    .button {

        font-size: 1rem;
        font-weight: 500;
        padding: 0.8rem 2rem;
        border-radius: 50px;
        border: 0.8rem 2rem;

    }

    .but {
        background-color: #e87532;
        color: white;
        border: none;
    }

    .bna {
        color: #e87532;



        background-color: transparent;

        border: 2px color-mix(in srgb, #e87532, transparent 85%) solid;

    }

    .text>h2 {
        font-size: 40px;
        padding-top: 60px;
        width: 100%;


        font-weight: 700;
        font-family: "Questrial", sans-serif;
    }

    .text {

        gap: 30px;



    }

    .text>p {
        width: 80%;

    }

    .second {
        padding-top: 10px;
        gap: 40px;
    }

    .buton {
        gap: 10px;
    }


    .description {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1vh 2vw;
    }

    .description>span {
        color: #e87532;
        font-weight: 800;
        font-size: 20px;
    }

    .description>h3 {
        color: black;
        font-size: 24px;
        font-weight: 700;
    }

    .description>h3:hover {
        color: #e87532;
        cursor: pointer;
    }

    .url>.bta {
        padding: 0.5vh 1vw;
        background-color: white;
        color: rgb(10, 10, 9);
        text-decoration: none;
        border-radius: 25px;
        border: 1px solid transparent;
    }

    .url {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .ddd {
        text-decoration: none;
        background-color: #e87532 !important;
        color: white !important;
        border-radius: 25px;
        padding: 0.5vh 1vw;
        border: 1px solid transparent;

    }

    .bta:hover {
        color: #e87532;

        cursor: pointer;
        background-color: #f0b69554;
    }

    .bta:active {
        background-color: #e87532;
        color: white;
        transition: 40ms;
    }


}

.tsection {
    padding: 2vh;
    //  background-color:#FAF9FB ;
    background-color: #e87532;
}

.about {

    padding: 2vh !important;

    gap: 20px;

}

.about>p {
    width: 80%;
    text-align: center;
}


.title {
    font-size: 2rem;

}

.svg-wave {
    width: fit-content;
    max-width: 14%;
    color: #F0B695;
}

// .about>p{width: 80%;





// }

.black {
    color: black;
    font-weight: 500;
}

.flow>img {
    width: 100%;
    border-radius: 25px;
    height: auto;


}



.thirdsection {
    gap: 10px;

}

.profil>img {
    border: 1px solid transparent;
    border-radius: 25px;
    max-width: 100%;
    width: 50vw;
    height: auto;
    gap: 30px;



}


.card {
    background: #fff;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.text2>p {
    width: 80%;


    .box {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}

.test {
    padding: 4vh;
}

.test>p {
    width: 60%;
    text-align: center;
}

.icon {
    width: 50px !important;
    height: 65px !important;
    object-fit: cover;
}

.carousel-item {
    width: 100%;
}

.contact {
    display: flex;
    padding: 2vh 1vw;
    justify-content: center;

    gap: 40px;

    height: auto;
    width: 100%;

}

.leftside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    width: 60%;

}

.rightside {
    padding: 3vh 2vw;

    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid transparent;

}

input {
    width: 100%;
    padding: 1vh 2vw;
    outline: none;
    border: 1px solid gray;



}

textarea {
    width: 100%;
    outline: none;
    padding: 1vh 2vw;
}

input:focus {

    border: 1px solid orange;



}

.background {
    background-color: #FAF9FB;
    padding: 2vh 1vw;
}

textarea:focus {
    border: 2px solid orange;
}

.bot {
    border: 1px solid orange;
    border-radius: 10px;
    padding: 1vh 2vw;
    color: white;
    font-weight: 700;
    font-size: 18px;
    background-color: rgba(255, 68, 0, 0.669);

}

.boot>p>span {
    color: #e87532;
}

.ico {
    display: flex;
    gap: 20px;
    align-items: center;


}

.footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
    background-color: #ffff;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 2vw;

    gap: 10px;

}

.social {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.car {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-radius: 25px;
}

.filters {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

.car>img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;


}

@media (max-width:480px) {
    .contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .bot {
        font-size: 16px;
        padding: 2vh 1vw;
    }

    .rightside {
        width: 100%;
        padding: 4vh 3vw;
    }

    .fsection {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 0px !important;

    }

    .leftside {
        width: 100%;
    }

    .text>h2 {
        font-size: 50px;
        font-weight: 200px;
        display: flex;
        justify-content: center;
        padding-left: 40px;
        width: 100%;


    }

    .text {
        width: 100% !important;
        padding-top: 20px;
        padding-left: 40px;
        align-items: center;
    }

    .text>p {
        width: 100%;

    }

    .second {
        flex-direction: column;
    }

    .aaa {
        text-align: center;
    }


    .thirdsection {
        flex-direction: column;
    }

    .thirdsection>.profil>img {
        width: 100%;

    }

    .buton {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .col-6>img {
        width: 40vw;
    }

    .section3 {
        flex-direction: column;
    }

    .description {
        padding: 2vh 4vw !important;
    }

    .url{
        display: flex;
        gap: 5px;



    }
    .url>a{
        padding: 1vh 2vw!important;
    }
    

    .filters {
        grid-template-columns: repeat(1, 1fr);
    }









}